@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: "Nunito", system-ui;
}
 /* container starts*/   
.container{
    width: 100%;
    max-width: 1470px;
    padding: 0px 15px;
    margin: 0px auto;
}
/* container ends*/

/* header starts*/
header{
    width: 100%;
    height:150px ;
    background-color: white;
    padding-block: 30px;
}
.row{
    width: 100%;
}
.h-col-1{
    width: 28%;
    float: left;
}
.h-col-2{
    width: 52%;
    float: left;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 40px ;
    font-size: 18px;
}
.h-link{
    text-decoration: none;
    color: black;
}
.h-link-1{
    color: #2eb66d;
    text-decoration: none;
    font-weight: 900;
}
.h-col-3{
    width: 20%;
    float: left;
    text-align:right ;
}
.login-curve-button {
  background: #2eb66d;
  padding: 20px 55px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 60px;
  transition: all ease-in-out 2s
}
.login-curve-button:hover {
  background: #ffcc01;
  padding: 20px 55px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 60px;
  transition: all ease-in-out 2s
}
.curve {
  margin-right: 10px;
  margin-top: 16px;
  height: 17px;
}
/* header ends*/

/* edusens section one starts*/
.edusens-sec-one{
    width: 100%;
    padding-block: 150px;
    background-image: url(../images/GIRL.WITH.GLASSES.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.edu-row-1{
    width: 100%;
}
.edu-col-one{
    width: 100%;
}
.pas-h1{
    font-size: 60px;
    color: white;
}
.str{
    color: #ffcc01;
    font-weight: 700;
    margin-right: 20px ;
}
.Ga{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 16px 70px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all ease-in-out 2s;
}
.Ga:hover{
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #ffcc01;
  padding: 16px 70px;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all ease-in-out 2s;
}
/* edusens section one ends*/

/* edusens section two starts*/
.edu-sec-two{
    width: 100%;
    padding-top: 361px;
    padding-bottom: 50px !important;
    position: relative;
}
.edu-row-two{
    width: 100%;
    height: 543px;
}
.edu-col-2{
    width: 48%;
    margin-right: 40px;
    float: left;
}
.boy-with-headphone {
    width: 637px;
  }
  .edu-col-three{
    width: 49%;
    float: left;
    padding-block: 60px;
  }
  .zet-h2{
    font-size: 40px;
    color: black;
    font-weight: 800;
  }
  .zet-p{
    font-size: 20px;
    line-height: 40px;
    color: #6e6e6e;
  }
  .Meer-info{
    background-color: #2eb66d;
    font-size: 20px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all ease-in-out 2s;
  }
  .Meer-info:hover{
    background-color: #ffcc01;
    font-size: 20px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all ease-in-out 2s;
  }
  /*position row starts*/
  .position-row-one{
    width: 100%;
  }
  .position-col-1{
    width: 31%;
    float: left;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 31px;
    position: absolute;
  top: -109px;
  left: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

  }
  .position-col-2{
    width: 31%;
    float: left;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 31px;
    position: absolute;
  top: -109px;
  left: 492px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

  }
  .position-col-3{
    width: 31%;
    float: left;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 31px;
    position: absolute;
  top: -109px;
  left: 987px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

  }
  .switch{
    margin-left: 20px;
  }
  .switch-h3{
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
  }
  .switch-p{
    font-size: 18px;
    color: #6e6e6e;
    margin-left: 20px;
  }
    /*position row ends*/
    /* edusens section two ends*/

    /* edusens section three starts*/
    .edu-sec-three{
        width: 100%;
        padding-top: 40px;
        height: 891px;

    }
    .edu-sec-three-row-1{
        width: 100%;
    }
    .Trainingen-h2{
        font-size: 40px;
        text-align: center;
        font-weight: 800;
    }
    .line-green{
        margin-left: 640px;
        margin-bottom: 20px;

    }
    /* inner col one starts*/
    .inner-col-1{
        width: 31%;
        float: left;
        padding: 25px 25px;
        border: 1px solid transparent;
        border-radius: 20px;
        margin-right: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-right: 47px;

    }
    .in-col-1-for-image{
        width: 25%;
        float: left;
        border: 1px solid transparent;
        border-radius: 50px;
    }
    .layer{
        border: 0px solid transparent;
        border-radius: 60px;
    }
    .in-col-1-for-text{
        width: 75%;
        padding-top: 11px;
        float: right;
  padding-bottom: 7px;
    }
    .name{
        font-size: 18px;
        color: #6e6e6e;
    }
    .in-col-for-education {
        width: 50%;
        float: left;
        margin-top: 14px;
      }
      .in-col-for-free{
        width: 50%;
        float: left;
        text-align: right;
      }
      .free{
        font-size: 18px;
        color: black;
        font-weight: 600
      }
      .basic-col{
        width: 100%;
      }
      .basic{
        font-size: 24px;
        color: black;
        font-weight:700 ;
      }
      .ten{
        font-size: 24px;
        font-weight: 400;
        color: #6e6e6e;
      }
      .book-close {
        margin-right: 10px;
        width: 19px;
        height: 23px;
      }
      .clock {
        width: 21px;
        height: 22px;
        margin-left: 20px;
        margin-right: 10px;
      }
      .traning{
        color: #6e6e6e;
        font-size: 20px;
        font-weight: 400;

      }
      .meer-over-a{
        width: 100%;
        text-align: center;
      }
      .meer-over{
        font-size: 18px;
        font-weight: 700;
        color: white;
        text-decoration: none;
        background-color: #2eb66d;
        padding: 18px 75px;
        border: 1px solid transparent;
        border-radius: 60px;
        transition: all ease-in-out 2s;

      }
      .meer-over:hover{
        background-color: #ffcc01;
        color: white;
        padding: 18px 75px;
        border: 1px solid transparent;
        border-radius: 60px;
        text-decoration: none;
        transition: all ease-in-out 2s;
      }
      /* inner col one ends/
      /*inner col 2 and 3 starts*/
      .inner-col-2{
        width: 31%;
        float: left;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-right: 46px;
        

      }
      .inner-col-3{
        width: 31%;
        float: left;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      }
      .in-col-for-girl-with-laptop{
        width: 100%;
      }
      .girl-with-laptop {
        width: 413px;
        border: 1px solid transparent;
        border-radius: 10px;
      }
      .col-for-leadership{
        width: 100%;
        padding: 25px 25px;
      }
      .col-for-logos{
        width: 100%;
        padding: 13px 25px;
      }
      .col-for-book-user{
        width: 50%;
        float: left;
      }
      .col-for-star{
        width: 50%;
        float: left;
        padding-top: 16px;
      }
      .star{
        margin-right: 1px;
      }
      /*inner col 2 and 3 ends*/
    /*edusens section three ends*/
    /* edusens section four starts*/
    .edu-sec-four{
        width: 100%;
        height: 700px;
        padding-block: 90px;
        background-image: url(../images/image-with-opacity.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .edu-sec-four-row{
        width: 100%;
    }
    .sec-four-col-1{
        width: 60%;
        margin-right: 66px;
        float: left;
    }
    .onze-h2{
        font-size: 40px;
        color: white;
        font-weight: 800;
    }
    .onze-p{
        color: white;
        font-size: 20px;
        line-height: 40px;
    }
    .col-for-classes-etc{
        width: 32%;
        float: left;
    }
    .cap{
        font-size: 60px;
        color: white;
        font-weight: 800;
    }
    .complete{
        font-size: 20px;
        color: white;
    }
    .sec-four-col-2{
      width: 35%;
      height: 469px;
      float: left;
      padding-top: 25px;
      margin-top: 56px;
      border: 1px solid transparent;
      border-radius: 20px;
      background-color: white;
      position: relative;
    }
    .inner-col-1-for-neem{
      width: 100%;
    }
    .neem-h2{
      font-size: 25px;
      font-weight: 600;
      padding-left: 40px;
    }
    .dash{
      margin-left: 190px;
      margin-bottom: 25px;
    }
    .input-1 {
      width: 77%;
      margin-bottom: 30px;
      margin-left: 40px;
      height: 65px;
      font-size: 16px;
      padding-left: 15px;
      border: 1px solid #b4b4b4;
      border-radius: 50px;
      background: #b4b4b4;
      outline: none;
    }
    .inner-col-for-verstur{
      width: 100%;
      text-align: center;
    }
    .vers {
      background: #2eb66d;
      padding: 14px 151px;
      color: white;
      font-size: 17px;
      font-weight: 750;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 60px;
      transition: all ease-in-out 2s;
    }
    .vers:hover {
      background: #ffcc01;
      padding: 14px 151px;
      color: white;
      font-size: 17px;
      font-weight: 750;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 60px;
      transition: all ease-in-out 2s;
    }
    .for-pencil {
      position: absolute;
      top: 164px;
      left: 393px;
    }
    .pencil {
      width: 174px;
    }
    /*edusens section four ends*/
    /* edusens section five starts*/
    .edu-sec-five{
      width: 100%;
      padding-block: 80px;
    }
    .onze-t-h2{
      font-size: 40px;
      color: black;
      text-align: center;
      font-weight: 700;
    }
    .dash-1 {
      margin-left: 640px;
      margin-bottom: 50px;
    }
    .sec-five-col-1{
      width: 31%;
      height: 542px;
      margin-right: 31px;
      margin-bottom: 60px;
      float: left;
      border: 1px solid transparent;
      border-radius: 20px;
      box-shadow: 8px 9px 6px rgba(0, 0, 0, 0.1);
    }
    .trainers {
      width: 412px;
    }
    .inner-col-for-text{
      width: 100%;
      text-align: center;
    }
    .tommy{
      font-size: 25px;
    }
    .tom-h3{
      color: #2eb66d;
    }
    .zle-button{
      width: 100%;
      text-align: center;
    }
    .zle {
      background: #2eb66d;
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      padding: 15px 63px;
      border: 1px solid transparent;
      border-radius: 60px;
      transition: all ease-in-out 2s;
    }
    .zle:hover {
      background: #ffcc01;
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      padding: 15px 63px;
      border: 1px solid transparent;
      border-radius: 60px;
      transition: all ease-in-out 2s;
    }
    /*edusens section five ends*/
    /* edusens section six start*/
    .edu-sec-six{
      width: 100%;
      padding-block: 25px;
    }
    .sec-six-row{
      width: 100%;
    }
    .sec-six-col-1{
      width: 100%;
      height:600px;
      padding: 80px 80px;
      text-align: center;
      background-image: url(../images/quotation-marks.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .john-p{
      font-size: 18px;
      word-spacing: 1px;
      line-height: 40px;
     
    }
    .coach {
      margin-right: 15px;
    }
    .coach-2 {
      margin-right: 15px;
      margin-top: 22px;
    }
    
    /* edusens section six ends*/
    /*containerfluid starts*/
    .container-fluid{
      width: 100%;
    }
    .fluid-row{
      width: 100%;
    }
    .col-first{
      width:222px ;
      float: left;
      position: relative;
      text-align: center;
    }
    .curley {
      width: 230px;
      height: 191px;
    }
    .for-1 {
      position: absolute;
      top: 72px;
      left: 68px;
    }
    .vakdo{
      font-size: 20px;
      font-weight: 800;
    }
    .yellow {
      margin-bottom: 71px;
    }
    /*container fluid ends*/
    /* edusens section seven starts*/
    .edu-sec-seven{
      width: 100%;
      height: 897px;
      padding-block: 50px;
    }
    .sec-seven-row{
      width: 100%;
    }
    .curss{
      font-size: 40px;
      font-weight: 800;
      text-align: center;
    }
    /* section seven col 1 starts*/
    .sec-seven-col-1{
      width: 31%;
      float:left;
      text-align: center;
      padding: 15px 15px;
      border: 1px solid transparent;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-right: 31px;
      margin-bottom: 71px ;


    }
    .maat{
      font-size: 23px;
      font-weight: 800;
    }
    .maat-p{
      color: #2eb66d;
      font-size: 19px;
      font-weight: 600;
    }
    /* section seven col 1 ends*/
    /*edusens section seven ends*/

    /* edusens section eight starts*/
    .edu-sec-eight{
      width: 100%;
      height: 800px;
      padding-block: 50px;
      background-image: url(../images/eight-sec-bg-img.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sec-eight-row{
      width: 100%;
    }
    .sec-eight-col-1{
      width: 31%;
      float: left;
      border: 1px solid transparent;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: black;
      margin-right: 31px;

    }
    
    .work {
      width: 412px;
    }
    .good{
      color: black;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }
    .case{
      width: 50%;
      float: left;
      padding-left: 40px;
    }
    .case-p{
      color: black;
      font-size: 19px;
      font-weight: 700;
    }
    .col-for-right-arrow{
      width: 50%;
      float: left;
    }
    .yo {
      margin-top: 25px;
      margin-left: 140px;
      background-color: #2eb66d;
      padding: 20px 20px;
      border: 1px solid transparent;
      border-radius: 10px;
    }
    /*eudsens section eight ends*/
    /*section nine starts*/
    .sec-nine{
      width: 100%;
      height: 200px;
    }
    .sec-nine-row{
      width: 100%;
      padding-block: 47px;
    }
    .brands-img {
      width: 200px;
      margin-right: 22px;
    }
    /*section nine ends*/
    /* footer starts*/
    footer{
      width: 100%;
      height: 648px;
    }
    .footer-row{
      width: 100%;
      height: 568px;
    }
    .footer-col-1{
      width: 100%;
      padding-block: 90px;
    }
    .f-inner-col-1{
      width: 31%;
      float: left;
      margin-right: 47px;
    }
    .edu-p{
      font-size: 18px;
      color: #6e6e6e;
      line-height: 30px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    .phone-num{
      font-size: 21px;
    }
    .phone-img-col{
      width: 23%;
      float: left;
    }
    .num-col{
      width: 77%;
      margin-top: 20px;
      float: left;
    }
    .f-inner-col-2{
      width: 31%;
      float: left;
      margin-right: 46px;
      text-align: left;
    }
    .van-h3{
      font-size: 30px;
      font-weight: 800;
      margin-top: 0px;
      margin-bottom: 28px;
    }
    .partner {
      display: block;
      margin-bottom: 18px;
    }
    .f-inner-col-3{
      width: 31%;
      float: left;
      text-align: left;
    }
    ul{
      list-style-type: none;
      padding: 0px;
    }
    .address{
      margin-bottom: 30px;
    }
    .address {
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 600;
    }
    .add {
      margin-right: 12px;
      margin-bottom: -9px;
    }
    .f-row-2{
      width: 100%;
    }
    .f-row-2-p{
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      word-spacing: 1px;
    }
    .st{
      font-size: 20px;
      color: #2eb66d;
      font-weight: 500;
    }
    /*footer ends*/